* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Akshar", sans-serif;
  color: whitesmoke;
}
body {
  background-color: black;

  background: rgb(50, 43, 79);
}
h1 {
  text-align: center;
  margin-top: 0.4em;
  font-weight: bolder;
}
.section {
  margin: 10px 20% 0 20%;
  padding: 1em;
  box-shadow: 1px 1px 1px lightcoral, -1px -1px 1px lightcoral;
  border-radius: 1em;
  transition: all 0.35s ease;
}
h3 {
  text-align: center;
  font-weight: 800;
  font-size: 1.6em;
  font-style: italic;
}
.section:hover {
  background: rgb(113, 80, 197);
  transform: scale(105%);
}
